html {
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
	font-family: Verdana, Courier;
	font-size: smaller;
	text-align: left;
	vertical-align: top;
	color: palegoldenrod; /*lemonchiffon lightyellow moccasin beige burlywood*/
	background-color: rgb(32 0 0 );
	background-attachment: fixed;
}

body{
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-align: inherit;
	vertical-align: inherit;
}
table{
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	text-align: inherit;
	vertical-align: inherit;
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
}
table.main{
	width: 100ch;
	table-layout: fixed;
    border: 2px solid gold;
    box-shadow: inset 0px 0px 10px 3px gold;
}

th{
	border-bottom: 1px solid gold;
	padding: 10px;
}

td{
	border: 1px solid gold;
}
label.UrlLabel{
	display: flex;
    align-items: baseline;
	width: 100%;
    max-width: 100%;
}
label.OptionLabel{
	display: flex;
    align-items: baseline;
    max-width: 100%;
}
label.TextareaOptionLabel{
	display: flex;
    align-items: baseline;
	width: 100%;
    max-width: 100%;
}
div{
	text-align: center;
}
div.HeadDiv{
	display: flex;
    align-items: center;
    justify-content: center;
	margin-left: 1ch;
	margin-right: 1ch;
}
div.HeadMansLogoDiv{
}
div.HeadTitleDiv{
	font-size: large;
	width: 100%;
}
div.TitleDiv{
	margin: 1ch;
	/*font-size: large;*/
	font-weight: bold;
}
div.TextDiv{
	text-align: left;
	margin: 1ch;
}
div.RowDiv{
	border: 1px dotted lightskyblue;
	/*display: flex;*/
    align-items: center;
    justify-content: center;
	width: 100%;
    max-width: 100%;
	box-sizing: border-box;
	padding-left: 1ch;
	padding-right: 1ch;
}
div.MainOptionDiv{
	display: flex;
	align-items: center;
    justify-content: center;
	width: 100%;
    max-width: 100%;
	box-sizing: border-box;
}
div.OptionRowsDiv{
	display: block;
	align-items: flex-start;
    justify-content: center;
	width: 100%;
    max-width: 100%;
	box-sizing: border-box;
}
div.OptionsDiv{
	display: flex;
	align-items: flex-start;
    justify-content: center;
	width: 100%;
    max-width: 100%;
	box-sizing: border-box;
}
div.StopkaDiv{
	margin: 1ch;
}
div.ShowData{
	display: flex;
    align-items: center;
    justify-content: center;
}
details{
	text-align: left;
}
details.CenterTextDetails{
	text-align: center;
}
details.TextDetails{
	margin: 1ch;
}
summary.TitleSummary{
	font-weight: bold;
	cursor: pointer;
}
summary:hover{
	color: rgb(255 255 170);
	background-color: rgb(63 0 0 / 60% );
}
img.mans-logo{
	display: block;
	width: 5ch;
}
img.mans-logo:hover{
	filter: brightness(1.3);
}
input{
	color: inherit;
	background-color: rgb(63 63 32 / 60%);
	font-family: inherit;
	font-size: inherit;
	text-align: inherit;
	border: 1px solid red;
	margin: 0.4em;
	padding: 1px 0px 1px 2px;
	width: auto;
}
input[type=text]{
	
}
input[type=text]:hover{
	background-color: rgb(255 255 255 / 20%);
}
input[type=text]:focus{
	border: 1px solid gold;
	outline: 1px solid lightyellow;
}
input[type=text].name{
	
}
select{
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: rgb(63 63 32 / 60% );
	border: 1px solid gold;
	margin: 0.4em;
	cursor: pointer;
}
select:hover{
	background-color: rgb(63 63 32 );
}
select:focus{
	border: 1px solid gold;
	outline: 1px solid lightyellow;
}
textarea{
	font-family: inherit;
	font-size: inherit;
	text-align: inherit;
	color: inherit;
	background-color: rgb(63 63 32 / 60%);
	border: 1px solid red;
	vertical-align: top;
	margin: 0.4em;
	resize: vertical;
	overflow: hidden;
}
textarea.Url{
	width: 100%;
	max-width: 100%;
	min-height: fit-content;
}
textarea.ValueOption{
	width: 100%;
	max-width: 100%;
	min-height: fit-content;
}
textarea.DomainOption{
	width: 100%;
	max-width: 100%;
	min-height: fit-content;
}
textarea.sformatowane_dane{
	font-size: x-small;
	width: 100%;
	text-align: left;
	border: 1px solid green;
}
textarea:hover{
	background-color: rgb(255 255 255 / 20%);
}
textarea:focus{
	border: 1px solid gold;
	outline: 1px solid lightyellow;
}
button{
	font-family: inherit;
	font-size: inherit;
	text-align: inherit;
	font-weight: bold;
	color: darkred;
	background-image: linear-gradient(goldenrod, rgb(255 255 0 ) );
	border: unset;
	cursor: pointer;
	border-radius: 0.2em;
	margin: 0.4em;
	padding: 0.2em;
}
button:hover{
	background-image: linear-gradient(rgb(255 255 0 ), rgb(255 255 0 ) );
	box-shadow: 0 0 0.5em 0.2em rgb(255 255 0 / 50% );
}
span.PrzedmiotSpan{
	font-weight: bold;
}
